## # Introduction
<p><img src="https://assets.datacamp.com/production/project_981/img/lego_unsplash.jpg" alt="A picture of Lego characters!"></p>
<h3 id="letslookatlegosets">Let's look at Lego sets!</h3>
<p>Lego is a household name across the world, supported by a diverse toy line, hit movies, and a series of successful video games. In this project, we are going to explore a key development in the history of Lego: the introduction of licensed sets such as Star Wars, Super Heroes, and Harry Potter.</p>
<p>It may not be widely known, but Lego has had its share of ups and downs since its inception in the early 20th century. This includes a particularly rough period in the late 90s. As described in <a href="https://www.businessinsider.com/how-lego-made-a-huge-turnaround-2014-2?r=US&IR=T">this article</a>, Lego was only able to survive due to a successful internal brand (Bionicle) and the introduction of its first licensed series: Star Wars. In the instructions panel are the two questions you will need to answer to complete this project.</p>
<p>Before diving into our analysis though, let's become familiar with the two datasets that will help you with this project:<br><br></p>
<div style="background-color: #ebf4f7; color: #595959; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:20px"><b>datasets/lego_sets.csv</b></div>
<ul>
    <li><b>set_num:</b> A code that is unique to each set in the dataset. <b><i>This column is critical, and a missing value indicates the set is a duplicate or invalid!</i></b></li>
    <li><b>set_name:</b> A name for every set in the dataset (note that this can be the same for different sets).</li>
    <li><b>year:</b> The date the set was released.</li>
    <li><b>num_parts:</b> The number of parts contained in the set.<b><i> This column is not central to our analyses, so missing values are acceptable.</i></b></li>
        <li><b>theme_name:</b> The name of the sub-theme of the set.</li>
    <li><b>parent_theme:</b> The name of the parent theme the set belongs to. Matches the `name` column of the `parent_themes` csv file.</li>
</ul>

<div style="font-size:20px"><b>datasets/parent_themes.csv</b></div>
<ul>
    <li><b>id:</b> A code that is unique to every theme.</li>
    <li><b>name:</b> The name of the parent theme.</li>
    <li><b>is_licensed:</b> A Boolean column specifying whether the theme is a licensed theme.</li>
</ul>
    </div>
<p>From here on out, it will be your task to explore and manipulate the existing data until you are able to answer the two questions described in the instructions panel. Feel free to add as many cells as necessary. Finally, remember that you are only tested on your answer, not on the methods you use to arrive at the answer!</p>
<p><em><strong>Note:</strong> If you haven't completed a DataCamp project before you should check out the <a href="https://projects.datacamp.com/projects/33">Intro to Projects</a> first to learn about the interface. In this project, you also need to know your way around <code>pandas</code> DataFrames and it's recommended that you take a look at the course <a href="https://www.datacamp.com/courses/data-manipulation-with-pandas">Data Manipulation with pandas</a>.</em></p>

## 1. Importing libreries needed

In [1]:
import pandas as pd

## 2. Reading datasets

In [2]:
df = pd.read_csv('datasets/lego_sets.csv')
df.tail()

      set_num name  year  num_parts theme_name  parent_theme
11981     NaN  NaN  2014        NaN        NaN     Minecraft
11982     NaN  NaN  2006        NaN        NaN  Super Heroes
11983     NaN  NaN  2017        NaN        NaN     Minecraft
11984     NaN  NaN  2017        8.0        NaN  Super Heroes
11985     NaN  NaN  2003        NaN        NaN  Harry Potter

In [3]:
df2 = pd.read_csv('datasets/parent_themes.csv')
df2.tail()

      id          name  is_licensed
106  605  Nexo Knights        False
107  606   Angry Birds         True
108  607  Ghostbusters         True
109  608        Disney         True
110  610    Brickheadz        False

## 3. Merging both datasets

In [4]:
# parent_theme and name are the same column. We need to merge both df on this. For that we need to change the col name.
df2.rename(columns={"name":"parent_theme"}, inplace=True)
df2.columns

Index(['id', 'parent_theme', 'is_licensed'], dtype='object')

In [5]:
merged = df.merge(df2,how='left', on='parent_theme')
merged.shape

(11986, 8)

## 4. Cleaning dataset

##### Droping NaNs

In [6]:
merged.dropna(subset=['set_num'], inplace = True)
merged.shape

(11833, 8)

In [7]:
merged.isnull().sum()

set_num            0
name               0
year               0
num_parts       4998
theme_name         0
parent_theme       0
id                 0
is_licensed        0
dtype: int64

### What percentage of all licensed sets ever released were Star Wars themed?

In [8]:
licensed = merged[merged['is_licensed']]
licensed.head()

,set_num,name,year,num_parts,theme_name,parent_theme,id,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
95,10075-1,Spider-Man Action Pack,2002,25.0,Spider-Man,Super Heroes,482,True

In [9]:
# Sets were Star Wars
star_wars = licensed[licensed['parent_theme']=='Star Wars']
star_wars.head()

,set_num,name,year,num_parts,theme_name,parent_theme,id,is_licensed
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
54,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
57,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
116,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [10]:
the_force = int(star_wars.shape[0]/licensed.shape[0] * 100)
the_force

51

### In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)?

In [11]:
# which year... so it means we need to group by year
licensed_sorted = licensed.sort_values(by='year')
licensed_sorted.head()

,set_num,name,year,num_parts,theme_name,parent_theme,id,is_licensed
7837,7141-1,Naboo Fighter,1999,179.0,Star Wars Episode 1,Star Wars,158,True
7845,7150-1,TIE Fighter & Y-wing,1999,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
7847,7151-1,Sith Infiltrator,1999,244.0,Star Wars Episode 1,Star Wars,158,True
7815,7131-1,Anakin's Podracer,1999,136.0,Star Wars Episode 1,Star Wars,158,True
7856,7161-1,Gungan Sub,1999,379.0,Star Wars Episode 1,Star Wars,158,True

In [12]:
# Populars licensed themes
pop = licensed_sorted.groupby(by=['parent_theme','year']).size().reset_index(name='count')
pop_sorted = pop.sort_values(by='count',ascending=False).drop_duplicates(['year'])
pop_sorted.head(10)

    parent_theme  year  count
73  Super Heroes  2017     72
58     Star Wars  2016     61
57     Star Wars  2015     58
56     Star Wars  2014     45
54     Star Wars  2012     43
51     Star Wars  2009     39
55     Star Wars  2013     35
45     Star Wars  2003     32
53     Star Wars  2011     32
52     Star Wars  2010     30

In [13]:
new_era = pop_sorted['year'].max()
new_era

2017